
body {
    padding: 0;
    margin: 0;
  }
  
 
#map,
body,
html {
    height: 100%;
  }
  
h1 {
    text-align: center;
  }
  
.legend {
    line-height: 18px;
    color: #555;
  }
.legend i {
    width: 14px;
    height: 14px;
    float: left;
  }
  